.page{
   max-height: 500px;
   max-width: 1600px;
   overflow-x: hidden;
   overflow-y: auto;
   font-size: 14px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: orangered;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 30px 10%;
    list-style: none;
}

header li{
    display: inline-block;
    padding: 5px;
}

.container{
    background-color: burlywood;
    display: flex;
}

.item{
    background-color: moccasin;
    margin: 10px;
    padding: 20px;
    font-size: 1rem;
    text-align: justify;
    
}

#i1{
    width: 30%;
}

#i2{
    width: 70%;
}


#propic:hover{
    border: solid;
    border-color:red;
}


@media(max-width: 425px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul{
        display: flex;
        flex-direction: column;
    }
    
    .page{
        font-size: 9px;
     }

     .item{
         font-size: 0.5rem;
         margin: 5px
     }
}